body {
	font-family: 'Roboto', sans-serif;
}

.container {
	width: 900px;
	margin: 0 auto;
}

html, body {
	padding: 0;
	margin: 0;
}

header {
	background-color: #4a454b;
	padding: 20px 0;
	width: 100%;
	float: left;
}

.wrapper-header {
	width: 100%;
	float: left;
	background-color: #4a454b;
}

.logo {
	width: 30%;
	float: left;
}

.logo img {
	width: 60%;
	padding: 10px 20px;
}

nav {
	float: right;
	font-weight: 100;
}

header ul li a {
	font-size: 2em;
}

nav ul li {
	display: inline-block;
}

nav ul li a {
	color: white;
	text-decoration: none;
	font-size: .8em;
	padding: 0 5px;
	text-transform: uppercase;
}

nav ul li a:hover {
	color: #bad657;
}

.time-box {
	width: 100%;
	background-color: #4a454b;
	padding: 40px 0;
	display: inline-block;
	text-align: center;
}

.wrapper-time-box {
	border: 1px solid green;
	padding: 10px 30px;
	border-radius: 10px;
}

.wrapper-time-box .item {
	display: inline-block;
	color: white;
	padding: 0 20px;
	position: relative;
}

.wrapper-time-box .item:after {
	content: ":";
	position: absolute;
	top: 20px;
	right: 0;
	font-size: 3em;
	color: white;
	font-weight: 100;
}

.wrapper-time-box .item:last-child:after {
	content: "";
	diplay:none;
}

.wrapper-time-box .item .number {
	font-size: 5em;
	width: 100%;
	display: block;
	text-align: center;
	font-weight: 100;
}


.wrapper-time-box .item .text {
	text-transform: uppercase;
	font-weight: 100;
}








